*{ box-sizing: border-box;}

/* ======= INDICE ====== */

nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    background-color: rgba(238, 240, 242, 0.66);
    width: 100%;
    height: 60px;
    box-shadow: 0 4px 14px 11px #f5f5f51f;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    gap: 1rem;
    margin: 0;
    height: 100%;
}
nav ul li{
    display: flex;
    list-style: none;
    height: 100%;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
}
nav ul li a{
    text-decoration: none;
    color: #353B3C;
}
nav ul li:hover{
    background-color: #C6C7C4;
}

/* ====== FIN DE INCIDE ====== */

/* ====== BODY ======== */

/* ------BODY------- */
body{
    font-family: Arial, sans-serif;
    background-color: #353B3C;
}
/* ----- HEADER ------ */
header {
    height: 70px;
    margin-top: 90px;
    margin-bottom: 1rem;
/* Para ponerlo en el centro */
    text-align: center;
/* Para hacerlo mas grande */
    font-size: 35px;
    color: #eef0f2;
    /* Para font de google */
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

/* ----- CONTENEDOR DE ARTICULOS Y ASIDE PARA PONERLOS EN COLUMNA ------ */
main {
    display: grid;
    /* Define 2 columnas: la 1ª (3fr) es 3 veces más grande que la 2ª (1fr) */
    grid-template-columns: 3fr 1fr;
/* Para darle el espacio entre las columnas */
    gap: 20px;
    /* Añadimos padding para que el <nav> fijo no tape el contenido */
    padding-top: 80px;
    color: #eef0f2;
}

article {
    background-color: #846A6A;
    margin: 10px;
    padding: 1rem;
    border-radius: 10px;
}

aside {
    background-color: #846A6A;
    margin: 10px;
    padding: 1rem;
    border-radius: 10px;
}

/* ----- PÁGINA DE INICIO ------ */

section.inicio{
    background-color: #A2999E;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: "Arial Nova Light"
}

section.librostematicas{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #353B3C;
    gap: 1rem;
}

section.librostematicas h3{
    color: #eef0f2;
    margin-top: 2rem;
}

section.librostematicas section {
    display: flex;
    flex-direction: row;
    background-color: #C6C7C4;
    border-radius: 10px;
}
h2.notociasylanzamientos{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

section.noticias{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
}
section.noticias section{
    background-color: #A2999E;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    color: #353B3C;
}

/* ----- PÁGINA DE lIBBROS LEIDOS------ */

section.introduccion{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: "Arial Nova Light"
}

/* -----COLOCACIÓN DE LOS LIRBOS EN DIFERENTES POSICIONES CON LAS FOTOS----- */
section.libros{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* SAGA EMPIREO Y UN CUENTO PERFECTO*/
section.SagaEmpireoyCuentoPerfecto {
    /*Lo coloca en linea horizontal*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #A2999E;
    border-radius: 10px;

}
#imagenAlasDeSangre {
    /*Ajusta el tamaño de la imagen*/
    mix-blend-mode:multiply;
}
#imagencuentoperfecto{
    mix-blend-mode: darken;
}

/* SAGA LOS BRIDGERTON*/
section.LosBridgerton {
    /*Lo coloca en linea horizontal*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #C6C7C4;
    border-radius: 10px;
    color: #353B3C;

}
#imagenLosBridgerton {
    /*Ajusta el tamaño de la imagen*/
    mix-blend-mode:multiply;
}

/* -----TABLA----- */
table{
    width: 100%;
    border-collapse: collapse;
    border: 3px solid #353B3C;
    vertical-align: center;


}
table th{
    background-color: #A2999E;
    color: #353B3C;
    border: 3px solid #353B3C;
    padding: 10px;
}
table td{
    background-color: #C6C7C4;
    color: #353B3C;
    padding: 3px;
}

/* -----FORMULARIO----- */
section.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: "Arial Nova Light";
    gap: 0.5rem;
    margin-bottom: 2rem;
}

/* para quitarle el margin predeterminado */
section.formulario>*{
    margin: 0;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

form fieldset{
    background-color: rgba(165, 42, 42, 0.26);
    border-radius: 5px;
}

form input,textarea,select{
    background-color: #C6C7C4;
    border: none;
    padding: 0.25rem 1rem;
    border-radius: 5px;
    text-align: center;
}
form legend{
    /* Para arreglar todos los strong */
    font-weight: bold;
}