*{ box-sizing: border-box;}

/* ======= INDICE ====== */

nav{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #eef0f2;
    width: 100%;
    height: 60px;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    gap: 1rem;
    margin: 0;
    height: 100%;
}
nav ul li{
    display: flex;
    list-style: none;
    height: 100%;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
nav ul li:hover{
    background-color: #C6C7C4;
}

/* ====== FIN DE INCIDE ====== */

/* ====== BODY ======== */

/* ------BODY------- */
body{
    font-family: Arial, sans-serif;
    background-color: #353B3C;
}
/* ----- HEADER ------ */
header {
    height: 70px;
    margin-top: 90px;
    margin-bottom: 2rem;
/* Para ponerlo en el centro */
    text-align: center;
/* Para hacerlo mas grande */
    font-size: 35px;
    color: #eef0f2;
}

/* ----- CONTENEDOR DE ARTICULOS Y ASIDE PARA PONERLOS EN COLUMNA ------ */
main {
    display: grid;
    /* Define 2 columnas: la 1ª (3fr) es 3 veces más grande que la 2ª (1fr) */
    grid-template-columns: 3fr 1fr;
/* Para darle el espacio entre las columnas */
    gap: 20px;
    /* Añadimos padding para que el <nav> fijo no tape el contenido */
    padding-top: 80px;
    color: #eef0f2;
}

article {
    background-color: #846A6A;
    margin: 10px;
    padding: 1rem;
    border-radius: 10px;
}

aside {
    background-color: #846A6A;
    margin: 10px;
    padding: 1rem;
    border-radius: 10px;
}

/* -----COLOCACIÓN DE LOS LIRBOS EN DIFERENTES POSICIONES CON LAS FOTOS----- */

/* SAGA EMPIREO */
section.SagaEmpireoyCuentoPerfecto {
    /*Lo coloca en linea horizontal*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #A2999E;
    border-radius: 10px;

}
#imagenAlasDeSangre {
    /*Ajusta el tamaño de la imagen*/
    mix-blend-mode:multiply;
}
#imagencuentoperfecto{
    mix-blend-mode: darken;
}

